@import "tailwindcss";
@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@theme {
  --font-display: "Figtree", sans-serif;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
a {
	color: #0066cc;
	text-decoration: underline;
}